// From http://www.paulund.co.uk/creating-different-css3-box-shadows-effects
// Convert to sass compass version by @anhnt38

/*==================================================
 * Effect 1
 * ===============================================*/
@mixin shadow-effect1($color:#000) {
  @include box-shadow(0 10px 6px -6px $color);
}

/*==================================================
 * Effect 2
 * ===============================================*/
@mixin shadow-effect2($color:#000){
  position: relative;
  &:before, &:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: $color;
    @include box-shadow(0 15px 10px $color);
    @include transform(rotate(-3deg));
  }
  &:after{
    @include transform(rotate(3deg));
    right: 10px;
    left: auto;
  }
}
/*==================================================
 * Effect 3
 * ===============================================*/
 @mixin shadow-effect3($color: #000) {
   position: relative;
   &:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: $color;
    @include box-shadow(0 15px 10px $color);
    @include transform(rotate(-3deg));
   }
 }

/*==================================================
 * Effect 4
 * ===============================================*/
  @mixin shadow-effect4($color: #000) {
   position: relative;
   &:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: $color;
    @include box-shadow(0 15px 10px $color);
    @include transform(rotate(3deg));
   }
 }

/*==================================================
 * Effect 5
 * ===============================================*/
 @mixin shadow-effect5($color: #000) {
   position: relative;
   &:before, &:after{
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 25px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: $color;
      @include box-shadow(0 35px 20px $color);
      @include transform(rotate(-8deg));
   }
   &:after{
      @include transform(rotate(8deg));
      right: 10px;
      left: auto;
   }
 }

/*==================================================
 * Effect 6
 * ===============================================*/
 @mixin shadow-effect6($color: rgba(0,0,0,0.8)) {
   position: relative;
   @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
   &:before, &:after{
      content:"";
      position:absolute; 
      z-index:-1;
      @include box-shadow(0 0 20px $color);
      top:50%;
      bottom:0;
      left:10px;
      right:10px;
      @include border-radius(100px / 10px);
   }
   &:after{
      right: 10px;
      left: auto;
      @include transform(skew(8deg) rotate(3deg));
   }
 }

/*==================================================
 * Effect 7
 * ===============================================*/
@mixin shadow-effect7($color: rgba(0,0,0,0.8)) {
  	position:relative;       
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
    &:before, &:after{
      content:"";
      position:absolute; 
      z-index:-1;
      @include box-shadow(0 0 20px $color);
      top:0;
      bottom:0;
      left:10px;
      right:10px;
      @include border-radius(100px / 10px);
    }
    &:after{
      right:10px; 
      left:auto;
      @include transform(skew(8deg) rotate(3deg));
    }
}

/*==================================================
 * Effect 8
 * ===============================================*/
 @mixin shadow-effect8($color: rgba(0,0,0,0.8)) {
    position:relative;       
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
    &:before, &:after{
      content:"";
      position:absolute; 
      z-index:-1;
      @include box-shadow(0 0 20px $color);
      top:10px;
      bottom:10px;
      left:0;
      right:0;
      @include border-radius(100px / 10px);
    }
    &:after{
      right:10px; 
      left:auto;
      @include transform(skew(8deg) rotate(3deg));
    }
}