<section id="main">
  <div class="left-side">
    <div class="box">
      <h1 class="box-title"><a class="news" href="">Tin tức</a></h1>
      <div class="box-content">
        <div class="img">
          <img width="125" data-src="holder.js/125x125" src="" alt="">
        </div>
        <div class="text">
          <a class="artile-title" href="">Hướng dẫn Nhận quà và chuyển tài khoản sang game Thế Giới Hoàn Mỹ</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, sint, adipisci facilis </p>
        </div>
      </div>
      <ul class="list-article">
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
      </ul>
    </div>
    <div class="box">
      <h1 class="box-title"><a class="sukien" href="">Su kien</a></h1>
      <div class="box-content">
        <div class="img">
          <img width="125" data-src="holder.js/125x125" src="" alt="">
        </div>
        <div class="text">
          <a class="artile-title" href="">Hướng dẫn Nhận quà và chuyển tài khoản sang game Thế Giới Hoàn Mỹ</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, sint, adipisci facilis </p>
        </div>
      </div>
      <ul class="list-article">
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
      </ul>
    </div>
    <div class="box">
      <h1 class="box-title"><a class="baochi" href="">Bao chi</a></h1>
      <div class="box-content">
        <div class="img">
          <img width="125" data-src="holder.js/125x125" src="" alt="">
        </div>
        <div class="text">
          <a class="artile-title" href="">Hướng dẫn Nhận quà và chuyển tài khoản sang game Thế Giới Hoàn Mỹ</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, sint, adipisci facilis </p>
        </div>
      </div>
      <ul class="list-article">
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <div class="box">
      <h1 class="box-title"><a class="gamethust" href="">Tin tức</a></h1>
      <div class="box-content">
        <div class="img">
          <img width="125" data-src="holder.js/125x125" src="" alt="">
        </div>
        <div class="text">
          <a class="artile-title" href="">Hướng dẫn Nhận quà và chuyển tài khoản sang game Thế Giới Hoàn Mỹ</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, sint, adipisci facilis </p>
        </div>
      </div>
      <ul class="list-article">
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur</a><span>12-11-2012</span></li>
      </ul>
    </div>
    <div class="slider">
      <ul class="slides">
        <li><img src="frontend/img/slide/Cuong_hoa_trang_bi.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Cuong_hoa_tro_thu.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Di_dung.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Hethong_Maychu_moi.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Son_Trang_moi.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Tan_nvu_Thanhtran.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Thu_phuc_Thap_c.jpg" alt=""></li>
        <li><img src="frontend/img/slide/Tro_Thu_Tu_tuong.jpg" alt=""></li>
      </ul>
    </div>
    <div class="box">
      <h1 class="box-title"><a class="Thuviencolong" href="">Thu vien</a></h1>
      <div class="box-content">
        <ul class="gallery">
          <li><a href=""><img src="frontend/img/gallery/ingame2.jpg" alt=""></a></li>
          <li><a href=""><img src="frontend/img/gallery/screenshot2.jpg" alt=""></a></li>
          <li><a href=""><img src="frontend/img/gallery/trailer2.jpg" alt=""></a></li>
          <li><a href=""><img src="frontend/img/gallery/wallpaper2.jpg" alt=""></a></li>
        </ul>
      </div>
      
    </div>
    
  </div>
</section>